/.vscode
/src/.vscode
/src/.sync
/scripts/.error
/scripts/*.*depend
/scripts/*.sh
/dst
/src/.depend
/node_modules
.temp
/package-lock.json
/package.json
/.project
/.merge_file_a07452
/.idea
/src/pi
/src/pi_pt
/src/chat
/scripts/dump
/src/earn
/src/app/ipConfig.ts
/scripts/wallet_back_start.bat - 快捷方式.lnk
/scripts/webserver_start.bat - 快捷方式.lnk
/scripts/file/*.mdb
