
.pi-circular{
    height:100px;
    width: 100px;
    animation: loadingRotating 2s linear infinite;
}
.pi-circular1{
    height:46px;
    width: 46px;
    animation: loadingRotating 2s linear infinite;
}

@keyframes loadingRotating{
    100% {transform: rotate(360deg);}
}

.pi-path{
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #fff;
    stroke-linecap: round;
}
.pi-path1{
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke: #318DE5;
}
@keyframes loading-dash{
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px;
    }
    100% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px;
    }
}