div{
    box-sizing: border-box;
}
.new-page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.ga-pagination-bullet{
    width: 12px;
    height: 12px;
    background: rgba(51,51,51,0.80);
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
}
.ga-pagination-bullet-active{
    background: rgba(255,255,255,0.80);
}

/* 侧边栏覆盖层进入 */
@keyframes switchWalletPageIn{
    0% {background-color: rgba(2, 2, 2, 0);}
    100% {background-color: rgba(2, 2, 2, 0.5);}
}
/* 侧边栏覆盖层出去 */
@keyframes switchWalletPageOut{
    0% {background-color: rgba(2, 2, 2, 0.5);}
    100% {background-color: rgba(2, 2, 2, 0);}
}
/* 侧边栏进入 */
@keyframes switchWalletIn{
    0% {margin-left: -630px;flex: 0;}
    100% {margin-left: 0px;flex: 1;}
}
/* 侧边栏出去 */
@keyframes switchWalletOut{
    0% {margin-left: 0px;flex: 1;}
    100% {margin-left: -630px;flex: 0;}
}
#addressMessageBox .addressInput textarea:focus{
    border: 2px solid rgb(220, 223, 230)!important;
}
#purchase input:focus{
    border: none !important;
    outline: none !important;
}
/* 开红包按钮转动 */
@keyframes rotated{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}
/* 密码输入框下方线条颜色变化 */
@keyframes line1{
    0% {flex:0;width: 0;}
    100% {flex:1}
}
@keyframes line2{
    0% {flex:0;width: 0;}    
    100% {flex:1}
}
@keyframes line3{
    0% {flex:0;width: 0;}
    100% {flex:1}
}

@keyframes refreshingRotated{
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

.refreshing{
   animation: refreshingRotated 1s infinite;
}