.ga-new-page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.ga-pagination-bullet{
    width: 12px;
    height: 12px;
    background: rgba(51,51,51,0.80);
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
}
.ga-pagination-bullet-active{
    background: rgba(255,255,255,0.80);
}


@keyframes switchWalletPageIn{
    0% {background-color: rgba(0, 0, 0, 0);}
    100% {background-color: rgba(0, 0, 0, 0.2);}
}

@keyframes switchWalletPageOut{
    0% {background-color: rgba(0, 0, 0, 0.2);}
    100% {background-color: rgba(0, 0, 0, 0);}
}

@keyframes switchWalletIn{
    0% {width: 0px;}
    100% {width: 356px;}
}

@keyframes switchWalletOut{
    0% {width: 356px;}
    100% {width: 0px;}
}
#addressMessageBox .addressInput textarea:focus{
    border: none !important;
}