div{
    box-sizing: border-box;
}
.new-page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.ga-pagination-bullet{
    width: 12px;
    height: 12px;
    background: rgba(51,51,51,0.80);
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
}
.ga-pagination-bullet-active{
    background: rgba(255,255,255,0.80);
}


@keyframes switchWalletPageIn{
    0% {background-color: rgba(2, 2, 2, 0);}
    100% {background-color: rgba(2, 2, 2, 0.5);}
}

@keyframes switchWalletPageOut{
    0% {background-color: rgba(2, 2, 2, 0.5);}
    100% {background-color: rgba(2, 2, 2, 0);}
}

@keyframes switchWalletIn{
    0% {margin-left: -630px;flex: 0;}
    100% {margin-left: 0px;flex: 1;}
}

@keyframes switchWalletOut{
    0% {margin-left: 0px;flex: 1;}
    100% {margin-left: -630px;flex: 0;}
}
#addressMessageBox .addressInput textarea:focus{
    border: 2px solid rgb(220, 223, 230)!important;
}
#purchase input:focus{
    border: none !important;
    outline: none !important;
}

@keyframes rotated{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

