.ga-new-page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.ga-pagination-bullet{
    width: 12px;
    height: 12px;
    background: rgba(51,51,51,0.80);
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
}
.ga-pagination-bullet-active{
    background: rgba(255,255,255,0.80);
}