@keyframes move{
    0%   {color:red;font-size: 40px;opacity: 1;margin-top: -245px;}
    50%  {color:orangered;font-size: 45px;opacity: 0.5;margin-top: -280px;}
    100% {color:orange;font-size: 50px;opacity: 0.1;margin-top: -300px;}
}
.miningNum{
    font-size: 40px;
    opacity: 0;
    position: absolute;
    margin-top: -245px;
    text-align: center;
    width: 100%;
    color:red;
}
@keyframes change{
    0%   {
        width: 180px;
        height: 180px;
        font-size: 48px;
        line-height: 180px;
        margin-top: 10px;
    }
    100% {
        width: 200px;
        height: 200px;
        font-size: 48px;
        line-height: 200px;
    }
}
.miningBtnClick{
    width: 200px;
    height: 200px;
    font-size: 48px;
    line-height: 200px;
}