/** √ */
.checkbox_true::before,.checkbox_true::after{
    position:absolute;
    content:'';
    left:0;
    bottom:0;
    background-color:#fff;
}
.checkbox_true::before{
    width: 2px;
    height: 6px;    
}
.checkbox_true::after{
    width: 11px;
    height: 2px;
}

/** - */
.checkbox_indeterminate::before{
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    height: 2px;
    transform: scale(.5);
    left: 0;
    right: 0;
    top: 5px;
}

/** 开关图形 */
.switch_icon::after{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    transition: all .3s;
    width: 16px;
    height: 16px;
    background-color: #fff;
}

.switch_icon_select::after{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    transition: all .3s;
    width: 16px;
    height: 16px;
    background-color: #fff;
    left: 100%;
    margin-left: -17px;
}


.icon_close::before,.icon_close::after{
    position:absolute;
    content:'';
    background-color:#fff;
}
.icon_close::before{
    width: 2px;
    height: 12px;
    left: 3px;
    top: -2px;  
}
.icon_close::after{
    width: 12px;
    height: 2px;
    top: 3px;
    left: -2px;
}

.message_open{
    transform: translateX(-50%);
    transition: opacity 0.3s, transform .4s;
}

.message-fade-enter {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.pi-radio__inner::after{
    display: inline-block;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6);
    transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6);
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6), -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6);
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6),-webkit-transform .15s cubic-bezier(.71,-.46,.88,.6);
}
.is-checked .pi-radio__inner::after{
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
}

.is-checked.is-disabled .pi-radio__inner::after{
    background-color: #c0c4cc;
}
.pi-radio__inner:hover{
    border: 1px solid #409EFF !important;
}

.pi-input__inner:hover,
.pi-textarea__inner:hover{
    border: 1px solid #c0c4cc !important;
}
.pi-input__inner:focus,
.pi-textarea__inner:focus{
    border: 1px solid #409EFF !important;
}
.pi-input ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
.pi-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.pi-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.pi-input :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.pi-input__suffix:after,
.pi-input__suffix:before{
    content: " ";
    display: inline-block;
    width: 7px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
}

.pi-input__suffix:after{
    transform:translate3d(-50%,-50%,0) rotateZ(45deg);
}
.pi-input__suffix:before{
    transform:translate3d(-50%,-50%,0) rotateZ(-45deg);
}

.pi-circular{
    height: 50px;
    width: 50px;
    animation: loadingRotating 2s linear infinite;
}


@keyframes loadingRotating{
    100% {transform: rotate(360deg);}
}

.pi-path{
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #fff;
    stroke-linecap: round;
}

@keyframes loading-dash{
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px;
    }
    100% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px;
    }
}

.pi-autocomplete-item:hover,
.pi-time-select-item:hover{
    background-color: #eee;
}
.pi-popper__arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: " ";
    border-width: 6px;
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fff;
}


svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

.tabs-item:hover{
    color: #409eff;
    cursor: pointer;
}

.tabs-nav-wrap-top:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e4e7ed;
    z-index: 1;
}
.tabs-nav-wrap-right:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #e4e7ed;
    z-index: 1;
}
.tabs-nav-wrap-bottom:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e4e7ed;
    z-index: 1;
}
.tabs-nav-wrap-left:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #e4e7ed;
    z-index: 1;
}
.pi-collapse-item:last-child .pi-collapse-title,
.pi-collapse-item:last-child .pi-collapse-item-panel{
    border-bottom: 1px solid transparent !important;
}
